.page { font-size: 12px; }
.sidebar { float: left; width: 200px; }
.content { margin-left: 210px; }
.footer { clear: both; }
#code { overflow-x: auto; }
.code-highlight { float: right; }
.code-table { font-family: monospace; border-spacing: 0; border-collapse: collapse; }
.code-table .hll { background-color: #ffffcc }
.code-table pre { margin: 0; }
.code-table-line a { text-decoration: none; color: maroon; }
.code-table-line { padding-right: 5px; white-space: nowrap; text-align: right; user-select: none; border-right: 1px solid green; }
.code-table-code { padding-left: 5px; white-space: pre; text-align: left; }
.code-table-code:hover { background: lightgoldenrodyellow; }
