.page { font-size: 12px; }
.sidebar { float: left; width: 200px; }
.content { margin-left: 210px; }
.footer { clear: both; }
#code { overflow-x: auto; }
.code-table { font-family: monospace; border-spacing: 0; border-collapse: collapse; }
.code-table .hll { background-color: #ffffcc }
.code-table pre { margin: 0; }
.table-line a { text-decoration: none; color: maroon; }
.table-line { padding-right: 5px; white-space: nowrap; text-align: right; user-select: none; border-right: 1px solid green; }
.code-line { padding-left: 5px; white-space: pre; text-align: left; }
.code-line:hover { background: lightgoldenrodyellow; }
.l-code { background: lavenderblush; }
.l-table { background: aliceblue; }
.d-code { background: lightgray; }
.d-table { background: lightblue; }
