/* Solarized Dark CSS for Highlight.js */
/* (c) Jeremy Hull <sourdrums@gmail.com>, https://ethanschoonover.com/solarized */

.hljs { color: #839496; background: #002B36 }                                   /* Code block */
.hljs-keyword { color: #859900 }                                                /* Keyword */
.hljs-built_in { color: #DC322F }                                               /* Constant, class, function */
.hljs-type { color: #B58900 }                                                   /* String, int, array */
.hljs-literal { color: #2AA198 }                                                /* True, false, null */
.hljs-number { color: #2AA198 }                                                 /* Literal number */
.hljs-operator { color: #839496 }                                               /* Operators */
.hljs-punctuation { color: #839496 }                                            /* Parentheses, brackets */
.hljs-regexp { color: #2AA198 }                                                 /* Literal regexp */
.hljs-string { color: #2AA198 }                                                 /* Literal string, character */
.hljs-subst { color: #CB4B16 }                                                  /* Section inside a literal string */
.hljs-symbol { color: #CB4B16 }                                                 /* Goto label */
.hljs-class { color: #B58900 }                                                  /* General class + name */
.hljs-class .hljs-title { color: #B58900 }                                      /* General class + name */
.hljs-function { color: #839496 }                                               /* Function or method declaration */
.hljs-variable { color: #B58900 }                                               /* Variables */
.hljs-title { color: #268BD2 }                                                  /* Class and function name */
.hljs-params { color: #839496 }                                                 /* Function arguments */
.hljs-comment { color: #586E75; font-style: italic }                            /* Comments */
.hljs-doctag { color: #2AA198; font-style: italic; text-decoration: underline } /* Documentation comments */
.hljs-meta { color: #CB4B16 }                                                   /* Annotation, preprocessor macros */
.hljs-meta-string { color: #839496 }                                            /* Annotation, preprocessor strings */
.hljs-meta .hljs-meta-string { color: #2AA198 }                                 /* Annotation, preprocessor strings */
.hljs-meta-keyword { color: #839496 }                                           /* Annotation, preprocessor keywords */
.hljs-meta .hljs-meta-keyword { color: #CB4B16 }                                /* Annotation, preprocessor keywords */
.hljs-section { color: #268BD2; font-weight: bold }                             /* Heading in text markup and configs */
.hljs-tag { color: #839496 }                                                    /* XML/HTML tags: <> </> */
.hljs-name { color: #268BD2 }                                                   /* Tag names: html, strong; s-expr */
.hljs-builtin-name { color: #6B7274 }                                           /* S-expr from the standard library */
.hljs-attr { color: #B58900 }                                                   /* HTML attrs, JSON keys, .ini attrs */
.hljs-attribute { color: #B58900 }                                              /* CSS properties */
.hljs-bullet { color: #CB4B16 }                                                 /* List item bullet */
.hljs-code { color: #839496; }                                                  /* Code block */
.hljs-emphasis { font-style: italic }                                           /* Emphasis */
.hljs-strong { font-weight: bold }                                              /* Strong */
.hljs-formula { color: #839496 }                                                /* Mathematical formula */
.hljs-link { color: #CB4B16; font-style: italic; text-decoration: underline }   /* Hyperlink */
.hljs-quote { color: #586E75; font-style: italic }                              /* Quotation or blockquote */
.hljs-selector-tag { color: #859900 }                                           /* CSS-selector: tag */
.hljs-selector-id { color: #268BD2 }                                            /* CSS-selector: #id */
.hljs-selector-class { color: #268BD2 }                                         /* CSS-selector: .class */
.hljs-selector-attr { color: #CB4B16 }                                          /* CSS-selector: [attr] */
.hljs-selector-pseudo { color: #CB4B16 }                                        /* CSS-selector: :pseudo */
.hljs-template-tag { color: #839496 }                                           /* Template language tag */
.hljs-template-variable { color: #B58900 }                                      /* Template language variable */
.hljs-addition { color: #859900 }                                               /* DIFF: Added or changed lines */
.hljs-deletion { color: #DC322F }                                               /* DIFF: deleted lines */
