<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:lang="${#locale}">
	<head>
		<title th:text="#{code.server.error.title}">Server Error</title>
		<meta charset="UTF-8">
		<link rel="apple-touch-icon" sizes="180x180" href="../static/icon/apple-touch-icon.png" th:href="@{/icon/apple-touch-icon.png}">
		<link rel="icon" type="image/png" sizes="32x32" href="../static/icon/favicon-32x32.png" th:href="@{/icon/favicon-32x32.png}">
		<link rel="icon" type="image/png" sizes="16x16" href="../static/icon/favicon-16x16.png" th:href="@{/icon/favicon-16x16.png}">
	</head>
	<body>
		<!--/*@thymesVar id="timestamp" type="java.lang.String"*/-->
		<!--/*@thymesVar id="status" type="java.lang.Integer"*/-->
		<!--/*@thymesVar id="error" type="java.lang.String"*/-->
		<!--/*@thymesVar id="message" type="java.lang.String"*/-->
		<h1 th:text="#{code.server.error}">Server Error</h1>
		<p>
			<span th:text="#{code.server.error.timestamp}">Timestamp:</span>
			<span th:text="${timestamp}"></span>
		</p>
		<p>
			<span th:text="#{code.server.error.status}">Status:</span>
			<span th:text="${status}"></span>
			<span th:text="${error}"></span>
		</p>
		<p th:if="${T(org.springframework.util.StringUtils).hasText(message)}">
			<span th:text="#{code.server.error.message}">Message:</span>
			<span th:text="${message}"></span>
		</p>
		<p>
			🡐 <a href="/" th:title="#{code.server.error.home}" th:text="#{code.server.error.home}"></a>
		</p>
	</body>
</html>
