<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${lang}" lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Code Polyglot</title>
	<link th:href="@{/css/__${skin}__/code.css}" rel="stylesheet" type="text/css"/>
	<link th:if="${highlight == T(ru.exlmoto.code.highlight.enumeration.Mode).HighlightJs}" th:href="@{/css/__${skin}__/hjs.css}" rel="stylesheet" type="text/css"/>
	<link th:if="${highlight == T(ru.exlmoto.code.highlight.enumeration.Mode).HighlightRouge}" th:href="@{/css/__${skin}__/rouge.css}" rel="stylesheet" type="text/css"/>
	<link th:if="${highlight == T(ru.exlmoto.code.highlight.enumeration.Mode).HighlightPygments}" th:href="@{/css/__${skin}__/pygments.css}" rel="stylesheet" type="text/css"/>
	<link th:if="${highlight == T(ru.exlmoto.code.highlight.enumeration.Mode).HighlightPygmentsJython}" th:href="@{/css/__${skin}__/pygments.css}" rel="stylesheet" type="text/css"/>
	<script defer th:src="@{/js/code.js}" type="text/javascript"></script>
</head>
<body>
	<div class="page">
		<div class="sidebar">
			<div class="header">

			</div>
			<div class="options">

			</div>
			<div class="recent">
				<h4 th:text="#{code.recent}">Recent</h4>
				<div th:if="${!snippets.isEmpty()}" class="last">
					<div th:each="snippet : ${snippets}">
						<a th:href="${'/' + snippet.getSecond()}" th:text="${snippet.getFirst()}"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="content">
			<div id="code" th:class="${highlight == T(ru.exlmoto.code.highlight.enumeration.Mode).HighlightJs} ? 'hljs' : 'highlight'" th:utext="${code}">Code Container</div>
			<form id="code-form" th:action="@{/edit}" th:object="${form}" method="post">
				<div>
					<label for="title">Title:</label>
					<input id="title" type="text" th:field="*{title}" placeholder="(Optional)" size="35"/>
					<label for="options">Options:</label>
					<input id="options" type="text" th:field="*{options}" placeholder="java" size="35"/>
				</div>
				<div>
					<span>Server-side syntax code highlighting:</span>
					<div th:each="mode : ${T(ru.exlmoto.code.highlight.enumeration.Mode).values()}">
						<label>
							<input type="radio" th:id="${mode}" th:value="${mode}" th:field="*{highlight}" name="syntax"/>
							<span th:text="${T(ru.exlmoto.code.highlight.enumeration.Mode).getName(mode)}"></span>
						</label>
					</div>
				</div>
				<div class="form-block">
					<label for="code-area">Code:</label>
					<br/>
					<textarea id="code-area" maxlength="262144" rows="20" cols="120" th:field="*{code}">Source</textarea>
				</div>
				<p><input class="button" type="submit" value="Render"/></p>
				<div th:if="*{renderTime}" class="form-render">
					Render: <span th:utext="*{renderTime}"></span>ms.
				</div>
			</form>
		</div>
		<div class="footer">
			<a th:href="${'/opts/?lang=ru'}">Русский</a>
			<a th:href="${'/opts/?lang=en'}">English</a>
			<a th:href="${'/opts/?skin=techno'}">Techno</a>
			<a th:href="${'/opts/?skin=pastorg'}">Pastorg</a>
		</div>
	</div>
</body>
</html>
