/* Tags */
a, a:visited {
	text-decoration: none;
	color: darkred;
}
a:hover {
	color: orangered;
}
h2, h4 {
	margin-top: 0;
	margin-bottom: 0;
}
textarea, input, body {
	color: black;
	background: #CCC;
}
textarea, input {
	padding: 2px;
	font: 14px Consolas, Monaco, Menlo, "DejaVu Mono", "Courier New", monospace;
	border: 1px #777 solid;
}
textarea:focus, input:focus {
	outline: none;
}
input {
	margin-bottom: 5px;
}
textarea {
	width: 630px;
	height: 240px;
	margin-top: 0;
	resize: none;
	white-space: pre;
}

/* Classes */
.page {
	position: relative;
	max-width: 1360px;
	min-width: 1260px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	font: 11px "DejaVu Sans", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	border: 1px #777 solid;
}
.block {
	padding: 5px;
	border: 1px #777 solid;
	background: white;
}
.center {
	text-align: center;
}
.header {
	margin-bottom: 10px;
}
.sidebar {
	float: left;
	width: 165px;
	margin-bottom: 5px;
}
.recent a:visited {
	color: grey;
}
.recent a:hover {
	color: orangered;
}
.content {
	margin-bottom: 10px;
}
.grid {
	display: grid;
	grid-template-columns: 645px 400px;
}
.markdown {
	font-size: 16px;
}
.inline {
	display: inline-block;
	width: 26px;
}
.button {
	width: 77px;
	padding: 2px;
}
.table {
	display: table;
	width: 100%;
	margin-bottom: 10px;
	border-collapse: collapse;
}
.table-row  {
	display: table-row;
}
.table-cell {
	display: table-cell;
	padding: 2px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #777;
}
.footer {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
.buttons {
	text-align: right;
}
.img-button {
	border: 1px solid #777;
}
.img-button:hover {
	background: orangered;
}
.img-button-toggle {
	outline: 1px solid darkred;
}
.super {
	vertical-align: super;
}
.hide {
	display: none;
}
.info {
	color: red;
}
.version {
	clear: both;
	color: #404040;
}
#options {
	width: 520px;
}
#title {
	width: 100%;
}
#highlight {
	width: 405px;
}
#code-form {
	min-height: 700px;
	margin-left: 175px;
}
#copy-label {
	vertical-align: super;
}

/* Code Block */
.code-table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	font: 12px Consolas, Monaco, Menlo, "DejaVu Mono", "Courier New", monospace;
}
.code-table .hll {
	background-color: #FFFFBB;
}
.code-table pre {
	margin: 0;
}
.table-line {
	padding-left: 5px;
	padding-right: 5px;
	text-align: right;
	white-space: nowrap;
	user-select: none;
	border-right: 1px solid #777;
}
.table-line a {
	text-decoration: none;
	color: black;
}
.table-line a:hover {
	color: orangered;
}
.code-line {
	padding-left: 5px;
	text-align: left;
	white-space: pre;
	width: 100%;
}
.code-line:hover {
	background: #EEE;
}
.l-code {
	background: white;
}
.l-table {
	background: lightgray;
}
.d-code {
	background: #FBFBFB;
}
.d-table {
	background: darkgray;
}
#code {
	border: 1px solid #777;
	overflow-x: auto;
}

/* Custom Radio */
.radio-container {
	display: block;
	position: relative;
	padding-left: 9px;
	margin-bottom: 10px;
	cursor: pointer;
	user-select: none;
}
.radio-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.radio-mark {
	position: absolute;
	top: 0;
	left: 1px;
	height: 10px;
	width: 10px;
	background-color: grey;
}
.radio-container:hover input ~ .radio-mark {
	background-color: orangered;
}
.radio-container input:checked ~ .radio-mark {
	background-color: darkred;
}

/* Custom Scrollbars */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-track {
	background: whitesmoke;
}
::-webkit-scrollbar-thumb {
	background: grey;
}
:root {
	scrollbar-color: grey whitesmoke !important;
	scrollbar-width: 10px !important;
}

/* Custom Selection */
::selection {
	background: darkred;
	color: white;
	text-shadow: none;
}
